@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    height: 100vh;
    color: #d4d4d4;
    font-family: "Arial";
    display: flex;
}

body{
    height: 100vh;
}

.selected-avatar {
    background-color: rgb(17, 255, 0);
    border-radius: 50%;
  }